:root {
    --background: #ffffff;
    --nav-color: #eeeeee;
    --non-basic-black: #283136;
    --basic-black: #000000;
    --red-nav: #FB565A;
    --hover-red-nav: #e74246;
    --active-red-nav: #D7373B;
    --green: #00CA74;
    --hover-green: #00BC6C;
    --active-green: #00AA62;
    --mustard: #EFC849;
    --hover-mustard: #EAB534;
    --active-mustard: #E5A722;
    --social: #444444;
    --shadow: rgba(0, 1, 1, 0.1);
}


/* Global */

.page {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Verdana, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--non-basic-black);
    background-color: var(--background);
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
    background-color: transparent;
    line-height: 18px;
}

li {
    list-style: none;
}


/* Grid */

.index-grid {
    min-height: 1vw;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.header-grid {
    grid-row: 1/1;
    grid: flex;
    justify-content: center;
    background-color: #eeeeee;
}

.catalog-main-grid {
    grid-row: 2/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-grid {
    grid-row: 2/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside-grid {
    grid-column: 1/2;
}

.catalog-items {
    grid-column: 2/4;
    display: flex;
}

.footer-grid {
    grid-row: 3/3;
    align-content: center;
}


/* а тут конец будет у гридов (или нет) */


/* Flex */

.flex-container {
    margin: 0 auto;
    padding: 0 30px;
    width: 1160px;
    box-sizing: content-box;
    /* так, тут оно не работает
    justify-content: center; */
}

.nav-flex {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 114px;
}

.ul-nav-flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.li-nav-flex {
    margin-right: 45px;
}

.production-flex {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    justify-content: space-between;
}

.production-item {
    margin-right: 100px;
}

.partners-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description-wrapper {
    display: flex;
    justify-content: space-between;
    height: 525px;
    flex-direction: row;
}

.descripton-flex-left {
    width: 650px;
    /*  */
}

.descripton-flex-right {
    justify-content: center;
}


/* а тут конец флексов, да */

.slider {
    display: flex;
    justify-content: space-around;
    height: 430px;
    width: auto;
    flex-wrap: wrap;
}

.main-nav {
    margin-bottom: 0;
}

.page-description {
    font-weight: 500;
    font-size: 55px;
    line-height: 100%;
    color: var(--basic-black);
    justify-content: center;
}

.main-nav a {
    color: var(--basic-black);
}

.main-nav a:hover {
    color: var(--red-nav);
}

.current-page {
    color: inherit;
    opacity: 30%;
    border-bottom: var(--red-nav) 2px solid;
    padding-bottom: 23px;
}

.num-we-ul {
    display: flex;
    flex-direction: row;
}

.we-are-li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100px;
    margin-right: 20px;
}

.num-we-are span {
    font-size: 26px;
    line-height: 40px;
    align-content: start;
    margin-top: 4px;
}


/* Кнопки */

.button {
    color: var(--background);
    background-color: var(--red-nav);
    border-radius: 3px;
}

.button:hover {
    background-color: var(--hover-red-nav);
}

.button:active {
    background-color: var(--active-red-nav);
    box-shadow: inset 0px 3px 0px var(--shadow);
}

.button-site {
    color: var(--background);
    background-color: var(--red-nav);
    border-radius: 3px;
}

.button-site:hover {
    background-color: var(--hover-red-nav);
}

.button-site:active {
    background-color: var(--active-red-nav);
    box-shadow: inset 0px 3px 0px var(--shadow);
}

.button-apps {
    color: var(--background);
    background-color: var(--green);
    border-radius: 3px;
}

.button-apps:hover {
    background-color: var(--hover-green);
}

.button-apps:active {
    background-color: var(--active-green);
    box-shadow: inset 0px 3px 0px var(--shadow);
}

.button-presentation {
    color: var(--background);
    background-color: var(--mustard);
    border-radius: 3px;
}

.button-presentation:hover {
    background-color: var(--hover-mustard);
}

.button-presentation:active {
    background-color: var(--active-mustard);
    box-shadow: inset 0px 3px 0px var(--shadow);
}

.slider-main {
    font-weight: 500;
    font-size: 55px;
    line-height: 100%;
    color: var(--basic-black)
}

.product {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.about {
    margin-top: 37px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
}

.we-are {
    font-size: 45px;
    line-height: 100%;
    font-weight: 500;
    color: var(--basic-black)
}

.num-we-are {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    display: flex;
}

.num-description {
    line-height: 18px;
}

.social-header {
    font-size: 36px;
    line-height: 100%;
    color: var(--basic-black);
}

.social-description {
    font-size: 16px;
    line-height: 22px;
    color: var(--social);
}

.filter-legend {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.filter {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    opacity: 30%;
}

.grid {
    font-size: 16px;
    line-height: 20px;
}

.submit {
    color: var(--basic-black);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 18px;
}

.partners {
    border-top: var(--nav-color) 2px solid;
    border-bottom: var(--nav-color) 2px solid;
}

.partners a {
    opacity: 20%;
}

.partners a:hover {
    opacity: 100%;
}

.partners a:active {
    opacity: 10%;
}
